.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0 1.536rem;

  font-family: 'Manrope', sans-serif;
}

.header-container img {
  cursor: pointer;
}

.logo-and-app-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-and-app-name-container b {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;

  color: #017d37;
}

.header-right-icons-container {
  display: flex;
  gap: 2.846rem;
}
