.home-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-width: 60rem;

  border: 1px solid red;
}

header {
  max-width: 100%;
  height: 6.8rem;
}

.banners {
  height: 20rem;
  width: 100%;
}

.blog-main {
  margin-top: 6.7rem;
}

.newComers-main {
}
