.blog-container {
  height: 12rem;

  display: flex;
  flex-direction: column;

  /* margin-top: 4.8rem; */
}

.blog-top {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  font-family: 'Manrope', sans-serif;

  margin-top: 20.4rem;
}

.blog-top h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;

  color: #001537;
}

.blog-top b {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9rem;

  color: #017d37;
}

.blog-show-more {
  display: flex;

  gap: 1rem;
}

.blog-info {
  display: flex;

  padding: 2rem;
  gap: 2rem;

  max-width: 100%;
}

.blog {
  font-family: 'Manrope', sans-serif;

  display: flex;
  flex-direction: column;

  max-width: 15.4rem;
  height: 21.7rem;

  margin-top: 2rem;
}

.blog span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9rem;

  color: 303030;

  margin-top: 0.8rem;
}

.blog p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;

  margin-top: 0.8rem;
}

.blog-points {
  position: relative;

  height: 19px;
  width: 85px;

  border-radius: 3px;
  background-color: #67b18780;

  margin-top: 1.2rem;
}

.blog-points span {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;

  margin-left: 2rem;
}

.blog-points img {
  position: absolute;

  left: 0.5rem;
}

.blog button {
  height: 3.3rem;
  width: 140px;
  border-radius: 3rem;

  background-color: #017d37;

  border: none;

  margin-top: 1.2rem;
}

.blog-date {
  color: #bdbdbd;
}

.blog-description {
  color: #303030;
}
